<div id="messages">
  <div class="container">
    <h2>Settings</h2>
    <input class="input" [(ngModel)]="server.url" placeholder="Websocket endpoint url"/>
    <input class="input" [(ngModel)]="server.oauth2token" placeholder="OAuth2 token"/>
    <button class="btn btn-primary btn-sm" (click)="connect()">{{stompService.connected() ? 'Disconnect' : 'Connect'}}</button>
    <div id="indicator" class="{{connectionStatus$|async}}"></div>
    <span id="status-label">{{connectionStatus$|async}}</span>
  </div>
  <div class="container">
    <input class="input" [(ngModel)]="subscriptionDestination" placeholder="subscription"/>
    <button class="btn btn-primary btn-sm" (click)="addSubscription()">Add subscription</button>
  </div>
  <div class="container">
    <input class="input" [(ngModel)]="message.message" placeholder="message"/>
    <input class="input" [(ngModel)]="message.destination" placeholder="destination"/>
    <button class="btn btn-primary btn-sm" (click)="onSendMessage()">Send test message</button>
  </div>

  <div class="container">
    <h2>Received messages</h2>
    <div #subscriptions></div>
  </div>
</div>
